/* Load Madelyn.otf, Brittany.otf, and SIFONN_PRO.otf */
@font-face {
    font-family: "Brittany";
    src: url("./BrittanySignature.ttf") format("truetype");
}

@font-face {
    font-family: "Madelyn";
    src: url("./Madelyn.otf") format("opentype");
}

@font-face {
    font-family: "Sifonn";
    src: url("./SIFONN_PRO.otf") format("opentype");
}

@font-face {
    font-family: "Codex";
    src: url("./codec-pro.regular.ttf") format("truetype");
}

/* We work in a mobile adpatation first approach ~ 360x640 */
/* Mobile adaptation */

body {
    background-image: url(./background4.png);
    background-size: 100% auto;
    background-repeat: repeat-y;
}

nav{
    background-color: transparent!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    font-family: Sifonn;
}

#menu{
    display: flex;
    background: linear-gradient(0.25turn,rgba(245, 54, 114, 0.7),rgba(147, 10, 78, 0.7) ,rgba(201, 13, 82, 0.7));
}

.menu-item{
    flex: fit-content;
}

.title {
    color: white;
    text-align: center;
    height: 100vh;
}

.page {
    height: 100vh;
    margin: 0;
}

.subpage{
    height: 400px;
    margin: 50px 0 50px 0;
}

.logo {
    width: 100%;
    height: auto;
    padding: 2%;
}



.title-text {
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Sifonn';
    font-size: 32px;
}

.subtitle-text {
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Madelyn';
    font-size: 36px;
}

@media screen and (orientation:landscape) {
    .logo {
        width: auto;
        height: 75vh;
        position: relative;
        top: -60px;
    }

    .title-text {
        font-size: 28px;
        position: relative;
        top: -60px;
    }
    
    .subtitle-text {
        font-size: 32px;
        position: relative;
        top: -60px;
    }
}

.arrow-right {
    width: 95vw;
    height: 400px;
}

.arrow-left {
    width: 95vw;
    height: 400px;
    margin-left: 5vw;
}

.section-title {
    position: relative;
    color: white;
    font-family: 'Sifonn';
    font-size: 32px;
    z-index: 1;
    margin: 10px 0 10px 0;
    top: -400px;
}

.section-title.aright{
    margin-left: 8vw!important;
}

.section-title.aleft{
    line-height: initial;
    margin-left: 35vw!important;
}

.section-subtitle{
    color: white;
    font-family: 'Brittany';
    font-size: 28px;
    z-index: 1;
    margin: 10px 0 10px 0;
    position: relative;
    top: -400px;
}

.section-subtitle.aright{
    margin-left: 8vw!important;
}

.section-subtitle.aleft{
    margin-left: 35vw!important;
}

.section-p {
    color: white;
    font-family: 'Codex';
    font-size: 14px;
    z-index: 1;
    margin: 15px 0 10px 0;
    position: relative;
    top: -400px;
    width: 65vw;
}

.section-p.aright{
    margin-left: 8vw!important;
}

.section-p.aleft{
    margin-left: 35vw!important;
    padding-right: 15px;
}


/* Tablet adaptation */
@media only screen and (min-width: 600px) and (max-width: 992px){
    .section-title{
        font-size: 46px;
    }
    .section-subtitle{
        font-size: 36px;
    }
    .section-p{
        font-size: 17px;
    }
}

/* PC adaptation */
@media only screen and (min-width: 993px) and (max-width: 1500px){
    /* Portrait for tablet, almost PC */
    @media screen and (orientation:landscape) {
        .logo {
            width: auto;
            height: 75vh;
            position: relative;
            top: 0;
        }
    
        .title-text {
            font-size: 28px;
            position: relative;
            top: 0;
        }
        
        .subtitle-text {
            font-size: 32px;
            position: relative;
            top: 0;
        }
    }


    .section-title{
        font-size: 46px;
    }
    .section-subtitle{
        font-size: 36px;
    }
    .section-p{
        font-size: 20px;
        width: 650px;
    }
    .arrow-right {
        width: 950px;
        height: 400px;
    }
    .arrow-left {
        width: 950px;
        height: 400px;
        margin-left: calc(100vw - 950px);
    }
    .section-title.aleft{
        margin-left: calc(100vw - 950px + 300px)!important;
    }
    .section-subtitle.aleft{
        margin-left: calc(100vw - 950px + 300px)!important;
    }
    .section-p.aleft{
        margin-left: calc(100vw - 950px + 300px)!important;
    }
}