/* Load Madelyn.otf, Brittany.otf, and SIFONN_PRO.otf */
@font-face {
    font-family: "Brittany";
    src: url("./fonts/BrittanySignature.ttf") format("truetype");
}

@font-face {
    font-family: "Madelyn";
    src: url("./fonts/Madelyn.otf") format("opentype");
}

@font-face {
    font-family: "Sifonn";
    src: url("./fonts/SIFONN_PRO.otf") format("opentype");
}

@font-face {
    font-family: "Sifonn Outline";
    src: url("./fonts/SIFONN_BASIC_OUTLINE.otf") format("opentype");
}

@font-face {
    font-family: "Codex";
    src: url("./fonts/codec-pro.regular.ttf") format("truetype");
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px hsl(0, 0%, 100%, 0.70), 0 0 20px hsl(0, 0%, 100%, 0.70), 0 0 30px hsl(45, 100%, 45%, 0.70), 0 0 40px hsl(45, 100%, 45%, 0.70), 0 0 50px hsl(45, 100%, 45%, 0.70), 0 0 60px hsl(45, 100%, 45%, 0.70), 0 0 70px hsl(45, 100%, 45%, 0.70);
    }

    to {
        text-shadow: 0 0 20px hsl(0, 0%, 100%, 0.70), 0 0 30px hsl(45, 100%, 65%, 0.70), 0 0 40px hsl(45, 100%, 65%, 0.70), 0 0 50px hsl(45, 100%, 65%, 0.70), 0 0 60px hsl(45, 100%, 65%, 0.70), 0 0 70px hsl(45, 100%, 65%, 0.70), 0 0 80px hsl(45, 100%, 65%, 0.70);
    }
}

@-webkit-keyframes glowr {
    from {
        text-shadow: 0 0 10px hsl(0, 0%, 100%, 0.70), 0 0 20px hsl(0, 0%, 100%, 0.70), 0 0 30px rgba(245, 54, 114, 0.7), 0 0 40px rgba(245, 54, 114, 0.7), 0 0 50px rgba(245, 54, 114, 0.7), 0 0 60px rgba(245, 54, 114, 0.7), 0 0 70px rgba(245, 54, 114, 0.7);
    }

    to {
        text-shadow: 0 0 20px hsl(0, 0%, 100%, 0.70), 0 0 30px rgba(245, 54, 114, 0.7), 0 0 40px rgba(245, 54, 114, 0.7), 0 0 50px rgba(245, 54, 114, 0.7), 0 0 60px rgba(245, 54, 114, 0.7), 0 0 70px rgba(245, 54, 114, 0.7), 0 0 80px rgba(245, 54, 114, 0.7);
    }
}

/* We work in a mobile adpatation first approach ~ 360x640 */
/* Mobile adaptation */

body {
    background-image: url(./img/background600.png);
    background-size: 100% auto;
    background-repeat: repeat-y;
}

nav {
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    font-family: Sifonn;
}

#menu {
    display: flex;
    background: linear-gradient(0.25turn, rgba(245, 54, 114, 0.7), rgba(147, 10, 78, 0.7), rgba(201, 13, 82, 0.7));
}

#btnrennes {
    color: white!important;
    font-weight: bolder;
}

.menu-item {
    flex: fit-content;
}

.title {
    color: white;
    text-align: center;
    height: 100vh;
}

.page {
    height: 100vh;
    margin: 0;
}

.subpage {
    height: 400px;
    margin: 50px 0 50px 0;
}

.logo {
    width: 100%;
    height: auto;
    padding: 2%;
}

.date {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    font-weight: bolder;
    margin : 10px;
    color: #e04fc9;
    font-family: 'Sifonn Outline';
    font-size: 20px;
    text-align: center;
    -webkit-animation: glowr 2s ease-in-out infinite alternate;
    -moz-animation: glowr 2s ease-in-out infinite alternate;
    animation: glowr 2s ease-in-out infinite alternate;
}



.title-text {
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Sifonn';
    font-size: 28px;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.subtitle-text {
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Madelyn';
    font-size: 32px;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@media screen and (orientation:landscape) {
    .logo {
        width: auto;
        height: 70vh;
        position: relative;
        top: -60px;
    }

    .title-text {
        font-size: 28px;
        position: relative;
        top: -60px;
    }

    .subtitle-text {
        font-size: 32px;
        position: relative;
        top: -60px;
    }
}

.arrow-right {
    width: 95vw;
    height: 400px;
}

.arrow-left {
    width: 95vw;
    height: 400px;
    margin-left: 5vw;
}

.section-title {
    position: relative;
    color: white;
    font-family: 'Sifonn';
    font-size: 32px;
    z-index: 1;
    margin: 10px 0 10px 0;
    top: -400px;
    width: 65vw;
}

.section-title.aright {
    margin-left: 3vw !important;
}

.section-title.aleft {
    line-height: initial;
    margin-left: 32vw !important;
}

.section-subtitle {
    color: white;
    font-family: 'Brittany';
    font-size: 28px;
    z-index: 1;
    margin: 10px 0 10px 0;
    position: relative;
    top: -400px;
    width: 65vw;
}

.section-subtitle.aright {
    margin-left: 3vw !important;
}

.section-subtitle.aleft {
    margin-left: 32vw !important;
}

.section-p {
    color: white;
    font-family: 'Codex';
    font-size: 14px;
    z-index: 1;
    margin: 15px 0 10px 0;
    position: relative;
    top: -400px;
    width: 65vw;
}

.section-button {
    top: -400px;
    font-family: 'Sifonn'!important;
    background-image: url("./img/bouton.png");
    background-size: cover;
    height: 58px!important;
    line-height: 28px!important;
    font-size: 14px!important;
    width: 65vw;
    padding: 0 !important;
}

.section-p.aright {
    margin-left: 3vw !important;
}

.section-p.aleft {
    margin-left: 32vw !important;
    padding-right: 15px;
}

.section-button.aright {
    margin-left: 3vw !important;
    width: 65vw;
}

.section-button.aleft {
    margin-left: 32vw !important;
}

#page7 ul {
    padding-left: 10px;
    list-style-type: square!important;
    font-size: 12px;
}

#page7 ul li {
    list-style: inherit;
}

#footnote{
    font-size: 10px;
}


#btninscrp::after{
    content: "\a";
    white-space: pre;
}

#btnprjt::after{
    content: "\a";
    white-space: pre;
}

.pagetable {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#tarif {
    background-color: #bd1e29a1;
    table-layout: fixed;
    margin: 18px;
    border-radius: 15px;
    border-collapse: initial;
    border-spacing: 0;
    border: 1px solid #fff;
    box-shadow: 0 0 10px hsl(0, 0%, 100%, 0.50), 0 0 20px hsl(0, 0%, 100%, 0.50), 0 0 30px hsla(303, 100%, 32%, 0.5), 0 0 40px hsla(303, 100%, 32%, 0.5), 0 0 50px hsl(45, 100%, 45%, 0.50), 0 0 60px hsla(303, 100%, 32%, 0.5), 0 0 70px hsla(303, 100%, 32%, 0.5);
}

#tarif td, #tarif th {
    padding: 10px;
    text-align: center;
    font-family: 'Codex';
    font-size: 16px;
    color: white;
}
.table-title th {
    font-family: 'Sifonn'!important;
    font-size: 32px!important;
}

#tarif .price {
    font-family: 'Brittany';
    font-size: 32px;
}

#page1, #page1 .arrow-right{
    height: 475px;
}

#page1 .section-title, #page1 .section-subtitle, #page1 .section-p, #page1 .section-button {
    top: -475px;
}

#page2, #page2 .arrow-left{
    height: 500px;
}

#page2 .section-title, #page2 .section-subtitle, #page2 .section-p, #page2 .section-button {
    top: -500px;
}

#page4, #page4 .arrow-right{
    height: 550px;
}

#page4 .section-title, #page4 .section-subtitle, #page4 .section-p, #page4 .section-button {
    top: -550px;
}

#page7, #page7 .arrow-right{
    height: 850px;
}

#page7 .section-title, #page7 .section-subtitle, #page7 .section-p {
    top: -850px;
}




/* Tablet adaptation */
@media only screen and (min-width: 600px) and (max-width: 992px) {
    body {
        background-image: url(./img/background993.png);
        background-size: 100% auto;
        background-repeat: repeat-y;
    }


    .section-title {
        font-size: 46px;
    }

    .section-subtitle {
        font-size: 36px;
    }

    .section-p {
        font-size: 19px;
    }

    .project-btn {
        height: 110px !important;
        line-height: 52px !important;
        font-size: 31px !important;
    }

    #tarif td, #tarif th {
        font-size: 20px;
    }

    #page7, #page7 .arrow-right{
        height: 700px;
    }
    
    #page7 .section-title, #page7 .section-subtitle, #page7 .section-p {
        top: -700px;
    }

    #page7 ul {
        padding-left: 10px;
        list-style-type: square!important;
        font-size: 17px;
    }

    
}

/* PC adaptation */
@media only screen and (min-width: 993px) {

    body {
        background-image: url(./img/background1200.png);
        background-size: 100% auto;
        background-repeat: repeat-y;
    }

    /* Portrait for tablet, almost PC */
    @media screen and (orientation:landscape) {
        .logo {
            width: auto;
            height: 65vh;
            position: relative;
            top: 0;
        }

        .title-text {
            font-size: 28px;
            position: relative;
            top: 0;
        }

        .subtitle-text {
            font-size: 32px;
            position: relative;
            top: 0;
        }
    }


    .section-title {
        font-size: 46px;
        width: 650px;
    }

    .section-subtitle {
        font-size: 36px;
        width: 650px;
    }

    .section-p {
        font-size: 20px;
        width: 650px;
    }

    .section-button {
        line-height: 58px !important;
        font-size: 22px !important;
    }

    .section-button.aright {
        width: 600px;
    }

    .arrow-right {
        width: 950px;
        height: 400px;
    }

    .arrow-left {
        width: 950px;
        height: 400px;
        margin-left: calc(100vw - 950px - (100vw - 100%));
    }

    .section-title.aleft {
        margin-left: calc(100vw - 950px + 300px - (100vw - 100%)) !important;
    }

    .section-subtitle.aleft {
        margin-left: calc(100vw - 950px + 300px - (100vw - 100%)) !important;
        width: auto;
    }

    .section-p.aleft {
        margin-left: calc(100vw - 950px + 300px - (100vw - 100%)) !important;
    }
    
    .section-button.aleft {
        margin-left: calc(100vw - 950px + 300px - (100vw - 100%)) !important;
        width: 600px;
    }

    .project-btn {
        height: 80px !important;
        line-height: 76px !important;
        font-size: 34px !important;
    }

    #btnprjt::after {
        content: "";
    }

    #btninscrp::after {
        content: "";
    }

    #tarif td, #tarif th {
        font-size: 20px;
    }

    #page7, #page7 .arrow-right{
        height: 600px;
    }
    
    #page7 .section-title, #page7 .section-subtitle, #page7 .section-p {
        top: -600px;
    }

    #footnote {
        font-size: 12px;
    }
}

/* PC +  adaptation */

@media only screen and (min-width: 1200px) {

    body {
        background-image: url(./img/backgroundfull.png);
        background-size: 100% auto;
        background-repeat: repeat-y;
    }

    .title-text {
        font-size: 46px;
    }
    .subtitle-text {
        font-size: 40px;
    }

    .date {
        font-size: 25px;
    }
}

/* PC + + adaptation */
@media only screen and (min-width: 1800px) {

    body {
        background-image: url(./img/backgroundfull.png);
        background-size: 100% auto;
        background-repeat: repeat-y;
    }

    .title-text {
        font-size: 46px;
    }
    .subtitle-text {
        font-size: 46px;
    }

    .subpage {
        height: 500px;
    }

    .section-title {
        font-size: 56px;
        top: -500px;
    }

    .section-subtitle {
        font-size: 46px;
        top: -500px;
    }

    .section-p {
        font-size: 24px;
        width: 650px;
        top: -500px;
    }

    .section-button {
        line-height: 58px !important;
        font-size: 22px !important;
        width: 650px;
        top: -500px;
    }

    .arrow-right {
        width: 1000px;
        height: 500px;
    }

    .arrow-left {
        width: 1000px;
        height: 500px;
        margin-left: calc(100vw - 1000px - (100vw - 100%));
    }

    .section-title.aleft {
        margin-left: calc(100vw - 1000px + 300px - (100vw - 100%)) !important;
    }

    .section-subtitle.aleft {
        margin-left: calc(100vw - 1000px + 300px - (100vw - 100%)) !important;
    }

    .section-p.aleft {
        margin-left: calc(100vw - 1000px + 300px - (100vw - 100%)) !important;
    }

    .section-button.aleft {
        margin-left: calc(100vw - 1000px + 300px - (100vw - 100%)) !important;
    }

    #tarif{
        margin: 80px;
    }

    #tarif td, #tarif th {
        font-size: 30px;
    }

    #tarif .price {
        font-size: 42px;
    }

    #page2, #page2 .arrow-left{
        height: 500px;
    }
    
    #page2 .section-title, #page2 .section-subtitle, #page2 .section-p, #page2 .section-button {
        top: -500px;
    }

    #page4, #page4 .arrow-right{
        height: 600px;
    }
    
    #page4 .section-title, #page4 .section-subtitle, #page4 .section-p, #page4 .section-button {
        top: -600px;
    }

    #page7, #page7 .arrow-right{
        height: 800px;
    }
    
    #page7 .section-title, #page7 .section-subtitle, #page7 .section-p, #page7 .section-button {
        top: -800px;
    }

    #page7 ul {
        font-size: 20px;
    }

}